###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/.env.local.php

/public/bundles/
/var/
/vendor/
/public/media/veglab/pdf/*.pdf
/public/.htaccess
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.idea/

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
