<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cel2-Client</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/public/cel2-client/styles.171dbff249cbe3c97035.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="/public/cel2-client/runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="polyfills.1ef83d22ada557f4a131.js"></script><script type="text/javascript" src="/public/cel2-client/main.e15de97a84565dd30df0.js"></script></body>
</html> 
